/* ---------top free shiping----------- */
#topper{
    height: 35px;
    display: flex;
    background-color: rgb(31, 30, 30);
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    font-size:smaller;
    color: white;
    width: 100%;
    align-items: center;
    font-weight: 10;
}
.top1{
    padding-left: 35px;
}
.top2{
    list-style: none;
    list-style-type: none;
    display: flex;
    text-align: right;
    padding-right: 80px;
}
.BOR{
    border: 1px solid rgb(185, 185, 185);
    height: 22px;
    border-top: none;
    border-bottom: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;

}
/* -----------navbar----------------- */
#index{
    list-style-type: none;
    list-style:none;
    height: 70px;
    /* width: 100%; */
    /* position: fixed; */
    background-color: white;
    box-shadow: 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(31, 30, 30);
}
#index a{
    text-decoration: none;
    color: rgb(31, 30, 30);
}
.indexone{
    /* margin-right: 700px; */
justify-content: flex-start;

}
.indextwo{
    color: navy;
    display: flex;
    /* justify-content:space-between; */
    /* margin-left: 300px; */
    /* font-family: 'Brygada 1918', serif; */
    font-size: 15px;
    justify-content: space-between;
}
.indextwo li{
    padding-right: 37px;
}
.shophover{
    height: 400px;
    width: 150px;
    background-color: rgb(31, 30, 30);
    color: rgb(182, 175, 175);
    position: relative;
    top: 235px;
    display: none;
}
.pagesdiv:hover .pageshover{
    display: block;
}
.pageshover{
    height: 400px;
    width: 150px;
    background-color: rgb(31, 30, 30);
    color: rgb(182, 175, 175);
    position: relative;
    top: 226px;
    display: none;
}
.shop{
    border: 2px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 130px;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.faltu{
    border-top: none;
}

.indexthree{
    height: 30px;
    width: 90px;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 50px;
    /* margin-left: 350px; */
    justify-content: center;
    /* align-items: center; */
    padding-top: 15px;
    padding-left: 30px;
    font-size: small;
}
*{
    margin: 0%;
}
.carthover{
    height: 470px;
    width: 450px;
    color: rgb(54, 54, 54);
    background-color: white;
    position: absolute;
    top: 106px;
    right: 70px;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0px 0px 1px;
    display: none;
    z-index: 3;
}
.carthover h1{
    margin-top: 40px;
    margin-left: 40px;
    font-weight: 444;
    font-size: 24px;
}
.cart1{
border: 1px solid;
border-top: none;
border-left: none;
border-right: none;
width: 355px;
display: flex;

}
.cart{
    margin-left: 40px;
    padding-bottom: 20px;
}
.cart p{
    margin-left: 20px;
    margin-bottom: 10px;
}
.cart .rate{
    font-size: 17px;
}
.WrongSIGN{
    position: relative;
    bottom: 50px;
    left: 400px;

}
.wrongSIGN{
    font-size: 15px;
    position: relative;
    left: 280px;
    bottom: 50px;
}
.wrongSIGN2{
    margin-right: 15px;
}
.carty {
    position: relative;
    right: 50px;
}

.cart2{
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    padding-top: 10px;
    width: 355px;
}
.cart3{
    width: 355px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 17px;
    margin-bottom: 20px;
}
.cart4{
    margin-left: 55px;
    /* justify-content: center; */
}
.cart4 button{
    margin-left: 5px;
    height: 52px;
    width: 167px;
    background-color: rgb(31, 30, 30);
    color: white;
    font-size: 17px;
}
.indexthree:hover .carthover{
    display: block;
}

#uperpatta{
    height: 80px;
    background-color: whitesmoke;
    
}
#uperpatta p{
    padding-top: 30px;
    padding-left: 180px;
    color: gray;
}
/* --------------------------MAP */
#MAP{
    height: 500px;
    /* width: 1000px; */
    background-color: #000;
}
iframe{
    height: 500px;
    width: 100%;
    color: #000;
    opacity: 0.9;
}
#contactusFORMaddress{
    height: 700px;
    width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contactFORM{
    height: 500px;
    width: 650px;
    /* display: flex; */
}
.contactFORM h1{
    font-size: 35px;
}
.firstlastNAME{
    display: flex;
    justify-content: space-between;
}
.firstlastNAME input{
    height: 50px;
    width: 300px;
}
.subject{
    height: 50px;
    width: 642px;
    margin-top: 20px;
    margin-bottom: 20px;
}
textarea{
    width: 644px;
}
button{
    height: 50px;
    width: 180px;
    background-color: orangered;
    color: white;
    border: orangered;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 20px;
}
::placeholder{
    padding-left: 20px;
    font-size: 15px;
}
.contactADD{
    height: 500px;
    width: 450px;
}
.servicedata1234{
    height: 150px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.SD1{
    height: 50px;
    width: 70px;
    color:#3f434e;
}
.SD1 i{
    font-size: 40px;
    color:#3f434e;
}
.SD2{
    height: 100px;
    width: 290px;
    color: #3f434e;
}
.SD2 h1{
    color:#3f434e;
    font-size: 22px;
    font-weight: lighter;
}
.SD2 p{
  /* margin-top: 15px; */
  /* margin-bottom: 10px; */
  color: gray;
}
/* ------------CONTACT US--------------------------------------------- */
#CONTACT{
    height: 400px;
   background-color: white;
}
.contactmaindiv{
    height: 400px;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(31, 30, 30);
}
.CONTACT1234{
    height: 350px;
    width: 250px;
    color: rgb(31, 30, 30);
}
.CONTACT1234 h1{
    margin-bottom: 20px;
    font-size: 25px;
   font-weight: lighter;
}
.CONTACT1234 p{
    margin-bottom: 20px;
    font-size: 16px;
}
.CONTACT1234 h3{
    margin-bottom: 20px;   
}
.CONTACT1234 h4{
    margin-bottom: 20px;
}
.CONTACT1234 img{
    height: 20px;
    width: 20px;
    border: 10px solid black;
    border-radius: 30px;
    background-color: white;
    margin-right: 10px;
}

.socialhandle{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chaaricon{
    height: 40px;
    width: 40px;
    background-color: rgb(31, 28, 28);
    border-radius: 30px;
    color: white;
}

.socialhandle i{
    font-size: 18px;
    margin-left: 13px;
    margin-top: 10px;
}

/* -----------footer------------- */
#foooter{
    height: 80px;
    background-color: rgb(43, 42, 42);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.FOOT2{
    color: white;
}
.FOOT3{
    list-style: none;
    list-style-type: none;
    display: flex;
    
}
.FOOT3 li{
    /* border-radius: 17px; */
}
.ATM{
    padding-right: 20px;
   
}
.ATM img{
    border-radius:  0.25rem;
}
