/* ---------top free shiping----------- */
#BAAP{
    height: 105px;
    background-color: yellow;
    position: fixed;
    width: 100%;
    z-index: 3;
}
#topper{
    height: 35px;
    width: 100%;
    display: flex;
    background-color: rgb(31, 30, 30);
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    font-size:smaller;
    color: white;
    width: 100%;
    align-items: center;
    font-weight: 10;
}
.top1{
    padding-left: 35px;
}
.top2{
    list-style: none;
    list-style-type: none;
    display: flex;
    text-align: right;
    padding-right: 80px;
}
.BOR{
    border: 1px solid rgb(185, 185, 185);
    height: 22px;
    border-top: none;
    border-bottom: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.BOR a{
    color: white;
    text-decoration: none;
}
*{
    margin-top: 0;
}
/* -----------navbar----------------- */
#index{
    list-style-type: none;
    list-style:none;
    height: 70px;
    /* width: 100%; */
    /* position: fixed; */
    background-color: white;
    box-shadow: 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(31, 30, 30);
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
    z-index: 3;
}
#index a{
    text-decoration: none;
    color: rgb(31, 30, 30);
}
.indexone{
    /* margin-right: 700px; */
justify-content: flex-start;

}
.indextwo{
    color: navy;
    display: flex;
    /* justify-content:space-between; */
    /* margin-left: 300px; */
    /* font-family: 'Brygada 1918', serif; */
    font-size: 15px;
    justify-content: space-between;
}
.indextwo li{
    padding-right: 37px;
}
.shophover{
    height: 400px;
    width: 150px;
    background-color: rgb(31, 30, 30);
    color: rgb(182, 175, 175);
    position: relative;
    top: 235px;
    display: none;
}
.pagesdiv:hover .pageshover{
    display: block;
}
.pageshover{
    height: 400px;
    width: 150px;
    background-color: rgb(31, 30, 30);
    color: rgb(182, 175, 175);
    position: relative;
    top: 226px;
    display: none;
}
.shop{
    border: 2px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 130px;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.faltu{
    border-top: none;
}

.indexthree{
    height: 30px;
    width: 90px;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 50px;
    /* margin-left: 350px; */
    justify-content: center;
    /* align-items: center; */
    padding-top: 15px;
    padding-left: 30px;
    font-size: small;
}
*{
    margin: 0%;
}
.carthover{
    height: 470px;
    width: 450px;
    color: rgb(54, 54, 54);
    background-color: white;
    position: absolute;
    top: 106px;
    right: 70px;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0px 0px 1px;
    display: none;
}
.carthover h1{
    margin-top: 40px;
    margin-left: 40px;
    font-weight: 444;
    font-size: 24px;
}
.cart1{
border: 1px solid;
border-top: none;
border-left: none;
border-right: none;
width: 355px;
display: flex;

}
.cart{
    margin-left: 40px;
    padding-bottom: 20px;
}
.cart p{
    margin-left: 20px;
    margin-bottom: 10px;
}
.cart .rate{
    font-size: 17px;
}
.WrongSIGN{
    position: relative;
    bottom: 50px;
    left: 200px;

}
.wrongSIGN{
    font-size: 15px;
    position: relative;
    left: 200px;
    bottom: 50px;
}
.wrongSIGN2{
    margin-right: 15px;
}
.carty {
    position: relative;
    right: 50px;
}

.cart2{
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    padding-top: 10px;
    width: 355px;
}
.cart3{
    width: 355px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 17px;
    margin-bottom: 20px;
}
.cart4{
    margin-left: 55px;
    /* justify-content: center; */
}
.cart4 button{
    margin-left: 5px;
    height: 52px;
    width: 167px;
    background-color: rgb(31, 30, 30);
    color: white;
    font-size: 17px;
}
.indexthree:hover .carthover{
    display: block;
}
/* ----------homepage converse------------- */
#HOME{
    height: 700px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: yellow; */
}
.arrow{
    font-size: 50px;
}
#bothhome{
    height: 500px;
    /* background-color: #ff3385; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    color: #3f434e;
    font-family: "futura_icgregular";
    margin-top: 200px;
}
.homepage1{
    height: 500px;
    width: 550px;
    font-weight: 10;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.homepage1 h2{
    font-weight: 500;
    font-size: 30px;
    margin-top: 2   0px;
    text-align: left;
}
#highqua{
    font-size: 50px;
    font-weight: 400;
}
.homepage1 h1{
    font-size: 50px;
}
.homepage1 p{
    width: 500px;
    /* margin: auto; */
    margin-top: 20px;
    /* margin-left: 50px; */
}
.homepage1 button{
    background-color: orangered;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    color: white;
    font-weight: 400;
     margin: auto;
    margin-top: 20px;
    /* margin-left: 200px; */
    border: orangered;
   
}
.homepage2{
    height: 500px;
    width: 550px;
    padding-top: 10px;
}
/* !-- --------------top category------------ */
#TopCategories{
height: 700px;
background-color: white;
text-align: center;
color: #3f434e;
}
#TopCategories h1{
padding-top: 100px;
font-size: 35px;
font-weight: lighter;
}
.teenTOPcat{
    height: 400px;
    width: 1105px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.topcategories1{
    height: 345px;
    width: 345px;
    border: 1px solid rgb(218, 217, 217);
    margin: auto;
    /* box-shadow: 1px 1px 1px; */
    
}
.topcategories1 img{
    height: 200px;
    width: 350px;
}
.topcategories2{
margin-left: 25px;
margin-right: 25px;
}
.FStshirt{
    height: 200px;
    border-bottom: 1px solid rgb(218, 217, 217);
}
.FStshirt img{
    height: 200px;
    width: 343px;
}
.chote3kapde{
height: 80px;
border-right: 1px solid rgb(218, 217, 217);
border-left: 1px solid rgb(218, 217, 217);
border-top: none;
display: flex;

}
.chote3{
    height: 80px;
    width: 150px;
    border: 1px solid rgb(218, 217, 217);
    border-right: none;
    border-top: none;
    margin: auto;
}
.chote3 img{
    height: 80px;
    width: 113px;
}
.hotim{
    border-left: none;
}
.hotvm{
    border-right: none;
}
.last2{
    height: 64px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.last2 p{
    /* padding-top: 20px; */
    font-size: 23px;
    margin-right: 20px;
    color: rgb(54, 54, 54);
}
.last2 button{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    border: whitesmoke;
    background-color: whitesmoke;
    color: gray;
    /* margin-top: 20px; */
    margin-left: 20px;
}
/* -----------------END OF SEASON SALE----------- */
#seasonsale{
    height: 350px;
    background-color: rgb(43, 40, 40);
    text-align: center;
    background-image: url(../images/cta.jpeg);
    background-position: bottom;
    background-color: transparent;
    /* opacity: 0.7; */
    /* opacity: 0.1; */
}
.seasonsalemainclass{
    margin: auto;
    padding-top: 100px;
    line-height: 50px;
    color: white;
}
.seasonsalemainclass h1{
    font-size: 43px;
    font-weight: lighter;
}
.seasonsalemainclass button{
    height: 55px;
    width: 175px;
    background-color: whitesmoke;
    border-radius: 50px;
    border: whitesmoke;
    font-size: 15px;
    color: rgb(31, 30, 30);
}
/* ------------------------------Top Collections------------------------------- */
#TopCollectionS{
    height: 700px;
    background-color: white;
}
#TopCollectionS h1{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 35px;
    color: rgb(31, 30, 30);
    font-weight: lighter;
}
.TC3maindiv{
    height: 400px;
    width: 1100px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.TC1{
    height: 400px;
    width: 250px;
}
.TC1 h3,h2{
    text-align: center;
    font-weight: lighter;
    margin-top: 10px;
}
/* -------- */
.pro1stimg{
    height: 330px;
    width: 250px;
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    background-image: url(../images/product-1\(1\).jpg);
    overflow: hidden;
}
.pro2stimg{
    height: 330px;
    width: 250px;
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    background-image: url(../images/product-2\(1\).jpg);
    overflow: hidden;
}
.pro3stimg{
    height: 330px;
    width: 250px;
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    background-image: url(../images/product-3.jpg);
    overflow: hidden;
}
.pro4stimg{
    height: 330px;
    width: 250px;
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    background-image: url(../images/product-4.jpg);
    overflow: hidden;
}
.hov1{
    height: 20px;
    width: 40px;
    background-color: #ff3385;
    margin-left: 10px;
    position: relative;
    bottom: 320px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-size: 13px;
}
.prduct1hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-4.jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.prduct2hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-5.jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.prduct3hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-6.jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.prduct4hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-2\(1\).jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.insta{
    height: 40px;
    width: 40px;
    background-color: white;
    margin-top: 10px;
    margin-left: 200px;
    position: relative;
    top: 10px;
    border-radius: 5px;
}
.insta i{
    margin-top: 12px;
    margin-left: 12px;
}
.nichelikhahua{
    position: relative;
    top: 330px;
    text-align: center;
}
.nichelikhahua h2{
    /* text-align: center; */
}
.nicheseanewaladiv{
    height: 50px;
    background-color: white;
    position: relative;
    top: 150px;
    opacity: 0.5;
    /* top: 83px; */
    /* background-color: transparent; */
}
.nicheseanewaladiv button{
height: 30px;
width: 110px;
background-color: orangered;
margin-left: 75px;
margin-top: 10px;
border: orangered;
border-radius: 20px;
opacity: none;
}
.TC1:hover .prduct1hover{
display: block;
}
.TC2:hover .prduct2hover{
display: block;   
}
.TC3:hover .prduct3hover{
display: block;
}
.TC4:hover .prduct4hover{
display: block;
}
/* !-- ----------------------Deal of the day-------------------------------- */
#Dealoftheday{
height: 500px;
background-color: whitesmoke;
display: flex;
justify-content:space-around;
align-items: center;
color: #3f434e;
background-image: url(../images/deal.jpg);
background-position: center;
}
.deal1{
    height: 300px;
    width: 370px; 
}
.deal1 h1{
    font-size: 50px;
    font-weight: lighter;
}
.deal1 p{
    font-size: 20px;
    margin-top: 10px;
}
.pehlaP{
    margin-bottom: 40px;
}
.deal1 button{
    font-size: 15px;
    color: white;
    height: 50px;
    width: 170px;
    border-radius: 50px;
    background-color: orangered;
    border: orangered;
    margin-top: 20px;
}

.deal2{
    height: 350px;
    width: 350px;
    position: relative;
    right: 170px;
    animation-name: up-down;
    animation-duration: 3s;
}
/* ----------------follow us on instagram----------------------------------------------------- --> */
#FollowUsOnInstagram{
    height: 600px;
    text-align: center;
    border-bottom: rgb(224, 224, 224) 1px solid;
    background-color: white;
    color: #3f434e;
}
.FUOinsta1{
    padding-top: 100px;
}
.FUOinsta1 h1{
    font-size: 33px;
    font-weight: lighter;
}
.FUOinsta1 h1{
    font-size: 20px;
    margin-top: 10px;
    font-weight: lighter;
}
.FUOinsta2{
    height: 250px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.instaone{
    height: 250px;
    width: 580px;
    display: flex;
}
.FUOinsta21{
    height: 250px;
    width: 240px;
}
.FUOinsta21 img{
    height: 250px;
    width: 220px;
    margin-left: 20px;
}
.item1hover{
    height: 250px;
    width: 240px;
    background: #000;
    opacity: 0.5;
    display: none;
    position: relative;
    bottom: 254px;
}
.FUOinsta21:hover .item1hover{
    display: block;
}
.likecomment{
text-align: center;
color: white;
padding-top: 120px;
}
/* <!-- --------------------service data------------------------------------------------ --> */
#servicedata{
height: 150px;
background-color: white;
}
.servicedatamaindiv{
    height: 150px;
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.servicedata1234{
    height: 150px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SD1{
    height: 50px;
    width: 70px;
}
.SD1 i{
    font-size: 40px;
    color: gray;
}
.SD2{
    height: 60px;
    width: 190px;
    padding-bottom: 20px;
}
.SD2 h1{
    color: rgb(31, 30, 30);
    font-size: 22px;
    font-weight: lighter;
}
.SD2 p{
  margin-top: 15px;
  margin-bottom: 10px;
  color: gray;
}
/* ----------------------#OurNewsletter----------------------------------- */
#OurNewsletter{
    height: 300px;
    background-color: whitesmoke;
}
.ONletter{
    height: 300px;
    width: 1000px;
    margin: auto;
    text-align: center;
    background-color: whitesmoke;
}
.ONletter1{
    height: 100px;
    width: 450px;
    padding-top: 80px;
    margin: auto;
}
.ONletter1 h1{
    font-size: 35px;
    font-weight: lighter;
    color: rgb(31, 28, 28);
}
.ONletter1 p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(31, 30, 30);
}
.ONletter2{
    display: flex;
    justify-content: space-between;
}
.ONletter2 input{
    height: 50px;
    width: 300px;
    border: none;
    font-size: 15px;
}
::placeholder{
    padding-left: 30px;
}
.ONletter2 button{
    height: 60px;
    width: 160px;
    background-color: orangered;
    border: orangered;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
/* ------------CONTACT US--------------------------------------------- */
#CONTACT{
    height: 400px;
   background-color: white;
}
.contactmaindiv{
    height: 400px;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(31, 30, 30);
}
.CONTACT1234{
    height: 350px;
    width: 250px;
    color: #3f434e;
}
.CONTACT1234 h1{
    margin-bottom: 20px;
    font-size: 25px;
   font-weight: lighter;
}
.CONTACT1234 p{
    margin-bottom: 20px;
    font-size: 16px;
}
.CONTACT1234 h3{
    margin-bottom: 20px;   
}
.CONTACT1234 h4{
    margin-bottom: 20px;
}
.CONTACT1234 img{
    height: 20px;
    width: 20px;
    border: 10px solid black;
    border-radius: 30px;
    background-color: white;
    margin-right: 10px;
}

.socialhandle{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chaaricon{
    height: 40px;
    width: 40px;
    background-color: rgb(31, 28, 28);
    border-radius: 30px;
    color: white;
}

.socialhandle i{
    font-size: 18px;
    margin-left: 13px;
    margin-top: 10px;
}
/* -----------footer------------- */
#foooter{
    height: 80px;
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.FOOT2{
    color: white;
}
.FOOT3{
    list-style: none;
    list-style-type: none;
    display: flex;
    
}
.FOOT3 li{
    /* border-radius: 17px; */
}
.ATM{
    padding-right: 20px;
   
}
.ATM img{
    border-radius:  0.25rem;
}
#mainbodyimage{
    background-image: url(../images/cta.jpeg);
    z-index: -1;
    /* background-color: navy; */
    /* opacity: 0.7; */
}