/* ---------top free shiping----------- */
@media screen and (min-width: 320px) and (max-width:1350px) {
   #BAAP{
    position: static;
   }
    #topper{
        width: 1170px;
        display: block;
        height: 300px;
        width: 1300px;
    }
    .top1{
        text-align: center;
        font-size: 50px;
    }
    .top2{
        margin: auto;
        font-size: 70px;
        margin-top: 70px;
    }
    .top2 img{
        height: 70px;
        width: 100px;
    }
    .BOR{
        height: 120px ;
    }
}
/* -------------navbar-------------- */
@media screen and (min-width: 320px) and (max-width:480px) {
    #index{
        width: 1300px;
        height: 500px;
        display: block;
    }
    .indexone{
        height: 70px;
    }
    li img{
        margin-left: 200px;
        height: 150px;
    }
    .indextwo{
        height: 300px;
        width: 1300px;
        display: block;
        margin-top: 100px;
    }
    .carthover{
    height: 1450px;
    width: 1200px;
position: relative;
right: 670px;
    }
    .carthover h1{
        font-size: 90px;
    }
    .cart1{
        width: 1150px;
        height: 400px;
    }
    .indextwo li{
        font-size: 50px;
        width: 1100px;
        /* margin-left: 50px; */
    }
    .indexthree{
        height: 150px;
        width: 400px;
        border-radius: 90px;
        font-size: 50px;
        padding-top: 50px;
        position: relative;
        bottom: 250px;
        left: 650px;
    }
    .RATE{
        height: 250px;
        width: 450px;
        font-size: 70px;
    }
    .cart2{
        width: 1150px;
        height: 400px;
    }
    .cart img{
        height: 400px;
        width: 300px;
    }
    .WrongSIGN{
        position: relative;
        bottom: 110px;
        left: 500px;
        font-size: 100px;
    }
    .wrongSIGN{
        font-size: 50px;
        bottom: 320px;
        left: 430px;
    }
    .wrongSIGN2{
        margin-right: 90px;
    }
    .cart3{
        width: 1150px;
        height: 100px;
        font-size: 70px;
    }
    .cart4{
        width: 1150px;
        height: 150px;
    }
    .cart4 button{
        margin-left: 35px;
        height: 152px;
        width: 467px;
        font-size: 50px;
    }
}
/* -------------homepage---------------- */
@media screen and (min-width: 320px) and (max-width:480px) {
    #HOME{
        width: 1300px;
        height: 3100px;
        margin: none;
        display: block;
        margin-top: 750px;
    }
    .arrow{
 display: none;
    }
    #bothhome{
        display: block;
        padding-top: 350px;
    }
    .homepage1{
        width: 1170px;
        height: 1300px;
    }
    .homepage1 h2{
text-align: center;
font-size: 100px;
margin-bottom: 10px;
    }
    #highqua{
        font-size: 170px;
        font-weight: lighter;
    }
    .homepage1 p{
        text-align: center;
        font-size: 50px;
        width: 900px;
        margin: auto;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .homepage1 button{
        margin-left: 300px;
        height: 200px;
        width: 600px;
        border-radius: 150px;
        font-size: 50px;
    }
    .homepage2{
        width: 1170px;
        height: 1000px;
        margin-top: 150px;
    }
    .homepage2 img{
        height: 950px;
    width: 1050px;
    margin-left: 50px;
    }
}

/* ------------#TopCategories----------------- */
@media screen and (min-width: 320px) and (max-width:480px) {

    #TopCategories{
        width: 1300px;
        height: 4500px;
    }
    #TopCategories h1{
        font-size: 130px;
    }
    .teenTOPcat{
        display: block;
    }
    .topcategories1{
        height: 1050px;
        width: 1050px;
        margin: auto;
        margin-top: 50px;
    }
    .topcategories2{
        margin-top: 200px;
        margin-bottom: 200px;
        }
    .FStshirt{
        height: 650px;
        width: 1000px;   
    }
    .FStshirt img{
        height: 650px;
        width: 1000px;
        border: 1px solid gray;
        border-bottom: none;
    }
    .chote3kapde{
        height: 250px;
        width: 1000px;
    }
    .chote3kapde img{
        height: 250px;
        width: 330px;
        position: relative;
        bottom: 87px;
        right: 90px;
        border: 1px solid gray;
    }
    .last2{
        height: 255px;
    }
    .last2 p{
        font-size: 90px;
        /* margin-bottom: 70px; */
    }
    .last2 button{
        height: 300px;
        width: 500px;
        border-radius: 20px;
        /* margin-bottom: 50px; */
        font-size: 44px;
        margin-left: 190px;
    }
    .bitchwala button{
        position: relative;
        top: 30px;
        left: 30px;
        padding-bottom: 50px;
    }
}
/* ---------------------#seasonsale---------------------- */
@media screen and (min-width: 320px) and (max-width:480px) {
    #seasonsale{
        width: 1300px;
        height: 1700px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .seasonsalemainclass{
        height: 1200px;
        width: 1250px;
        padding-top: 100px;
        line-height: 150px;
        margin: auto;
        padding-top: 350px;
    }
    .seasonsalemainclass h1{
        font-size: 150px;
    }
    .seasonsalemainclass p{
        font-size: 70px;
    }
    .seasonsalemainclass button{
        height: 210px;
        width: 650px;
        border-radius: 150px;
        font-size: 60px;
        margin-top: 30px;
    }
}
/* --------------------------#TopCollectionS------------------ */
@media screen and (min-width: 320px) and (max-width:480px) {
    #TopCollectionS{
        width: 1300px;
        height: 6650px;
    }
    #TopCollectionS h1{
        font-size: 120px;
    }
    .TC3maindiv{
        /* height: 400px; */
        /* width: 1100px; */
        display: block;
  
    }
    .TC1{
        margin: auto;
        height: 1500px;
        width: 1000px;
        margin-top: 80px;
    }
    .pro1stimg,.pro2stimg,.pro3stimg,.pro4stimg{
        height: 1340px;
        width: 1000px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .prduct1hover,.prduct2hover,.prduct3hover,.prduct4hover{
        height: 1340px;
        width: 1000px;
        margin: auto;
        display: none;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .TC1 h3,h2{
font-size: 70px;
    }
    .nicheseanewaladiv{
        height: 150px;
        background-color: rgb(29, 2, 2);
        position: relative;
        top: 730px;
        /* opacity: 0.5; */
        /* top: 83px; */
        /* background-color: transparent; */
    }
    .nicheseanewaladiv button{
        height: 110px;
        width: 410px;
        border-radius: 80px;
        margin-left: 280px;
        font-size: 50px;
    }
    .insta{
        height: 150px;
        width: 150px;
        position: relative;
        left: 600px;
    }
    .insta i{
        margin-top: 50px;
        margin-left: 50px;
        font-size: 50px;
    }
}
/* ---------------------------#Dealoftheday----------------- */
@media screen and (min-width: 320px) and (max-width:480px) {
    #Dealoftheday{
        width: 1300px;
        height: 2500px;
        display: block;
    }
    .deal1,.deal2{
        height: 1000px;
        width: 1000px;
        margin: auto;
        margin-top: 50px;
    }
    .deal1 h1{
        text-align: center;
        font-size: 200px;
    }
    .deal1 p{
        font-size: 80px;
text-align: center;
    }
    .pehlaP{
        margin-bottom: 80px;
    }
    .deal1 button{
        font-size: 60px;
        height: 200px;
        width: 630px;
        margin-left: 200px;
        border-radius: 100px;
    }
    .deal2 img{
        height: 800px;
        width: 1000px;
        margin-left: 200px;
    }
}

/* /* ----------------follow us on instagram----- */
@media screen and (min-width: 320px) and (max-width:480px) {
    #FollowUsOnInstagram{
    height: 3000px;
    width: 1300px;
   }
   .FUOinsta1 h1{
       font-size: 130px;
   }
   .FUOinsta1 p{
  font-size: 60px;
}
.FUOinsta2{
    height: 2650px;
    width: 1170px;
    display: block;
}
.instaone{
    height: 800px;
    width: 1170px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    margin-left: 50px;
}
.FUOinsta21 img{
    height: 500px;
    width: 500px;
    position: relative;
    right: 150px;
    /* margin-bottom: 500px; */
}
.item1hover{
    height: 500px;
    width: 500px;
    position: relative;
    right: 130px;
    bottom: 505px;
}
.likecomment{
    font-size: 50px;
    padding-top: 200px;
    
}
}
/* <!-- --------------------service data------------------------------------------------ --> */ 
@media screen and (min-width: 320px) and (max-width:480px) {

#servicedata{
    height: 2000px;
    width: 1300px;
}
.servicedatamaindiv{
    display: block;
}
.servicedata1234{
    height: 500px;
    width: 1170px;
    display: block;
    /* text-align: center; */
    /* margin: auto; */
    margin-top: 50px;
}
.SD1 i{
    font-size: 150px;
    margin-left: 550px;
    margin-bottom: 30px;
}
.SD2 h1{
    font-size: 100px;
    margin-left: 150px;
    width: 1000px;
    margin-top: 70px;
}
.SD2 p{
    font-size: 70px;
    margin-left: 150px;
    width: 1000px;
}
}
/* ----------------------#OurNewsletter----------------------------------- */
@media screen and (min-width: 320px) and (max-width:480px) {

#OurNewsletter{
    width: 1300px;
    height: 1150px;
    margin-top: 150px;
}
.ONletter{
    height: 1100px;
    width: 1000px;
}
.ONletter1{
    height: 1000px;
    width: 1100px;
}
.ONletter1 h1{
    font-size: 150px;
    width: 930px;
    margin: auto;
}
.ONletter1 p{
    font-size: 50px;
    width: 1100px;
}
.ONletter2{
    display: block;
}
.ONletter2 input{
    height: 200px;
    width: 950px;
    font-size: 70px;
}
.ONletter2 button{
    height: 200px;
    width: 950px;
    border-radius: 100px;
    margin-top: 50px;
    font-size: 60px;
}
}
/* ------------CONTACT US--------------------------------------------- */
@media screen and (min-width: 320px) and (max-width:480px) {
#CONTACT{
    height: 4500px;
    width: 1300px;
}
.contactmaindiv{
    height: 4100px;
    width: 1100px;
    display: block;
}
.CONTACT1234{
    height: 1000px;
    width: 1120px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.CONTACT1234 h1{
    margin-bottom: 20px;
    font-size: 100px;
   font-weight: lighter;
   text-align: center;
}
.CONTACT1234 p{
    margin-top: 30px;
    font-size: 60px;
}
.CONTACT1234 h3{
    margin-bottom: 20px;
    font-size: 70px;

}
.CONTACT1234 h4{
    margin-bottom: 20px;
    font-size: 60px;

}
.socialhandle{
    height: 250px;
    width: 700px;
    margin: auto;
}
.chaaricon{
margin-left: 40px;
height: 130px;
width: 800px;
border-radius: 100px;
background-color: rgb(24, 21, 21);
}
.socialhandle i{
    font-size: 70px;
    margin-left: 10px;
    margin-top: 30px;
}
.CONTACT1234 p{
    margin-bottom: 50px;
    font-size: 70px;
}
}
/* -----------footer------------- */
@media screen and (min-width: 320px) and (max-width:480px) {
#foooter{
    height: 800px;
    width: 1300px;
    display: block;
}
.FOOT{
    /* background-color: yellow; */
    height: 100px;
    width: 900px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    font-size: 70px;
}
.FOOT1{
    padding-top: 100px;
}
.FOOT2 img{
   height: 170px;
   width: 700px;
}
.FOOT3 img{
    height: 100px;
    width: 170px;
    margin-top: 100px;
    border-radius: 20px;
    margin-left: 30px;
}
}