#LOGIN{
    height: 600px;
    width: 600px;
    margin: auto;
    margin-top: 100px;
    background-color: whitesmoke;
}
img{
    margin-top: 50px;
    margin-left: 200px;
}
h1{
    text-align: center;
    font-size:25px;
}
input{
    height: 50px;
    width: 450px;
    margin-left: 70px;
    margin-bottom: 10px;
    border: rgb(199, 199, 199) 1px solid;
}
.logibutton{
    height: 50px;
    width: 150px;
    background-color: orangered;
    border: orangered;
    border-radius: 50px;
    margin-left: 220px;
    color: white;
}
.newACC{
    text-decoration: none;
 border: none;
 margin-left: 170px;
 margin-top: 20px;
}
a{
    text-decoration: none;
}