/* ---------top free shiping----------- */
#topper{
    height: 35px;
    display: flex;
    background-color: rgb(31, 30, 30);
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    font-size:smaller;
    color: white;
    width: 100%;
    align-items: center;
    font-weight: 10;
}
.top1{
    padding-left: 35px;
}
.top2{
    list-style: none;
    list-style-type: none;
    display: flex;
    text-align: right;
    padding-right: 80px;
}
.BOR{
    border: 1px solid rgb(185, 185, 185);
    height: 22px;
    border-top: none;
    border-bottom: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
/* -----------navbar----------------- */
#index{
    list-style-type: none;
    list-style:none;
    height: 70px;
    /* width: 100%; */
    /* position: fixed; */
    background-color: white;
    box-shadow: 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(31, 30, 30);
}
#index a{
    text-decoration: none;
    color: rgb(31, 30, 30);
}
.indexone{
    /* margin-right: 700px; */
justify-content: flex-start;

}
.indextwo{
    color: navy;
    display: flex;
    /* justify-content:space-between; */
    /* margin-left: 300px; */
    /* font-family: 'Brygada 1918', serif; */
    font-size: 15px;
    justify-content: space-between;
}
.indextwo li{
    padding-right: 37px;
}
.shophover{
    height: 400px;
    width: 150px;
    background-color: rgb(31, 30, 30);
    color: rgb(182, 175, 175);
    position: relative;
    top: 235px;
    display: none;
}
.pagesdiv:hover .pageshover{
    display: block;
}
.pageshover{
    height: 400px;
    width: 150px;
    background-color: rgb(31, 30, 30);
    color: rgb(182, 175, 175);
    position: relative;
    top: 226px;
    display: none;
}
.shop{
    border: 2px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 130px;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.faltu{
    border-top: none;
}

.indexthree{
    height: 30px;
    width: 90px;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 50px;
    /* margin-left: 350px; */
    justify-content: center;
    /* align-items: center; */
    padding-top: 15px;
    padding-left: 30px;
    font-size: small;
}
*{
    margin: 0%;
}
.carthover{
    height: 470px;
    width: 450px;
    color: rgb(54, 54, 54);
    background-color: white;
    position: absolute;
    top: 106px;
    right: 70px;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0px 0px 1px;
    display: none;
    z-index: 3;
}
.carthover h1{
    margin-top: 40px;
    margin-left: 40px;
    font-weight: 444;
    font-size: 24px;
}
.cart1{
border: 1px solid;
border-top: none;
border-left: none;
border-right: none;
width: 355px;
display: flex;

}
.cart{
    margin-left: 40px;
    padding-bottom: 20px;
}
.cart p{
    margin-left: 20px;
    margin-bottom: 10px;
}
.cart .rate{
    font-size: 17px;
}
.WrongSIGN{
    position: relative;
    bottom: 50px;
    left: 200px;

}
.wrongSIGN{
    font-size: 15px;
    position: relative;
    left: 200px;
    bottom: 50px;
}
.wrongSIGN2{
    margin-right: 15px;
}
.carty {
    position: relative;
    right: 50px;
}

.cart2{
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    padding-top: 10px;
    width: 355px;
}
.cart3{
    width: 355px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 17px;
    margin-bottom: 20px;
}
.cart4{
    margin-left: 55px;
    /* justify-content: center; */
}
.cart4 button{
    margin-left: 5px;
    height: 52px;
    width: 167px;
    background-color: rgb(31, 30, 30);
    color: white;
    font-size: 17px;
}
.indexthree:hover .carthover{
    display: block;
}

/* -----------shop-------------- */
#uperpatta{
    height: 80px;
    background-color: whitesmoke;
    
}
#uperpatta p{
    padding-top: 30px;
    padding-left: 180px;
    color: rgb(54, 54, 54);
}
#SHOP{
    height: 1400px;
    margin-top: 100px;
}
.shop1{
    /* height: 80px;
    width: 1050px;
    border: 1px solid;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center; */
    height: 80px;
  margin: auto;
  border: 1px solid rgb(211, 207, 207);
  width: fit-content;
  /* margin-bottom: 100px; */
}
.shop1one{
    height: 80px;
   width: 220px;
   float: left;
   text-align: center;
   
}
.shop1one i{
    padding-top: 30px;
}
.listen{
    margin-left: 7px;
    color: gray;
}
.shop1two{
    height: 80px;
    width: 540px;
    float: left;
    border-left: 1px solid rgb(211, 207, 207);
    font-size: 17px;
}
.shop1two p{
    padding-left: 20px;
    padding-top: 30px;
    color: gray;
}
.shop1two span{
    font-weight: bold;
    color: #000;
}
.shop1three{
    height: 80px;
    width: 170px;
    float: left;
    border-left: 1px solid rgb(211, 207, 207);
}
.shop1three p{
    padding-left: 20px;
    padding-top: 30px;
    font-weight: bold;
}
.shop1three i{
    margin-left: 50px;
    color: white;
    background-color: #000;
    border-radius: 25px;
}
.shop1four{
    height: 80px;
    width: 170px;
    float: left;
    border-left: 1px solid rgb(211, 207, 207);
}
.shop1four p{
    padding-left: 20px;
    padding-top: 30px;
    font-weight: bold;
}
.shop1four i{
    margin-left: 50px;
    color: white;
    background-color: #000;
    border-radius: 25px;
}
.shop2{
    height: 1200px;
    width: 1100px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.shop2one{
    height: 1200px;
    width: 250px;
    color: grey;
    /* margin: auto; */
    /* border: 1px solid; */
}
.shop2one h3,h2{
    color: #000;
}
::placeholder{
 /* text-align: center; */
 /* padding-left: 25px; */
 font-size: 17px;
 /* border: none; */
/* height: 50px; */
/* width: 250px; */

}
.shopsearch{
    height: 50px;
    width: 250px;
    border: 1px solid rgb(211, 207, 207);
    /* margin-left: 10px; */
    color:gray;
    /* margin: auto; */
    /* justify-content: center; */
    /* align-items: center; */
}
.shopsearch input{
    height: 45px;
    width: 150px;
    margin-left: 30px;
    border: none;
}
.fa-search{
    margin-left: 30px;
    color: gray;
    font-weight: lighter;
}
.shopbycat{
    margin-left: 35px;
    margin-top: 30px;
    color: rgb(54, 54, 54);
}
.shop2one1{
    height: 400px;
    width: 250px;
    margin: auto;
}
.shop2one12{
    height: 310px;
    width: 180px;
    float: left;
}
.shop2one12 p{
    margin-top: 20px;
}
.shop2one13{
    height: 310px;
    width: 15px;
    float: left;
    margin-left: 50px;
}
.shop2one13 p{
    margin-top: 20px;
}
/* ----------------------------------------- */
.shop2one2{
    height: 150px;
    width: 250px;
    margin: auto;
}
.shop2one2 input{
    color: rgb(31, 30, 30);
    width: 200px;
}
.shop2one2 button{
    background-color: orangered;
    color: white;
    height: 30px;
    width: 75px;
    border: orangered;
    border-radius: 20px;
    font-size: 11px;
    float: left;
    margin-top: 10px;
}
.moneyrange{
    text-align: end;
    padding-top: 18px;
    font-size: 18px;
    color: #000;
}
/* -------------------------------- */
.shop2one3{
    height: 220px;
    width: 250px;
    margin: auto;
    display: flex;
}
.shop2one14{
    height: 220px;
    width: 20px;
    /* margin-top: 20px; */
}
.shop2one15{
    height: 220px;
    width: 110px;
    float: left;
    padding-left: 20px;
    /* margin-top: 20px; */
}
.shop2one16{
    height: 220px;
    width: 44px;
    float: left;
    justify-content: end;
    margin-left: 50px;
}
.shop2one14 input{
    margin-top: 20px;
    color: rgb(54, 54, 54);
}
.shop2one15 p{
    margin-top: 20px;
}
.shop2one16 p{
    margin-top: 20px;
    margin-left: 20px;
}
/* ------------------------------------- */
.shop2one4{
    height: 100px;
    width: 200px;
    margin: auto;   
    display: flex;
    justify-content: space-between;
}
.SBC{
    margin-top: 30px;
}
.color{
    height: 25px;
    width: 25px;
    border-radius: 5px;
}
.color1{
background-color: #dcbba8;
}
.color2{
    background-color: #38575a;

}
.color3{
    background-color: #49c5ff;
}
.color4{
    background-color: #ff5c5c;
}
.color5{
background-color: #343a40;
}
/* -------------------------------------------------------------------------------------- */
.firstimagePRO{
height: 380px;
width: 250px;
background-color: yellowgreen;
background-size: contain;
position: relative;
/* bottom: 5px; */
border: 1px solid;
margin-bottom: 20px;
}
*{
    top: 0;
}
.pro1stimg{
    height: 330px;
    width: 250px;
    background-color: rgb(4, 0, 255);
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    background-image: url(../images/product-1\(1\).jpg);
    overflow: hidden;
}
.pro2stimg{
    height: 330px;
    width: 250px;
    background-color: rgb(255, 0, 119);
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    background-image:url(../images/product-4.jpg);
    overflow: hidden;
}
.pro3stimg{
    height: 330px;
    width: 250px;
    background-color: rgb(157, 255, 0);
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    background-image: url(../images/product-7.jpg);
    overflow: hidden;
}
.pro4stimg{
    height: 330px;
    width: 250px;
    background-color: rgb(0, 255, 191);
    margin: auto;
    position: relative;
    bottom: 30px;
    background-image: url(../images/product-2\(1\).jpg);
    overflow: hidden;
}
.pro5stimg{
    height: 330px;
    width: 250px;
    background-color: rgb(173, 172, 204);
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    background-image: url(../images/product-5.jpg);
    overflow: hidden;
}
.pro6stimg{
    height: 330px;
    width: 250px;
    background-color: rgb(255, 17, 0);
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    background-image: url(../images/product-8.jpg);
    overflow: hidden;
}
.pro7stimg{
    height: 330px;
    width: 250px;
    background-color: rgb(20, 230, 20);
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    background-image: url(../images/product-3.jpg);
    overflow: hidden;
}
.pro8stimg{
    height: 330px;
    width: 250px;
    background-color: rgb(137, 136, 173);
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    background-image: url(../images/product-6.jpg);
    overflow: hidden;
}
.pro9stimg{
    height: 330px;
    width: 250px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    position: relative;
    /* top: -50px; */
    background-image: url(../images/product-9.jpg);
    overflow: hidden;
}
.hov1{
    height: 20px;
    width: 40px;
    background-color: #ff3385;
    margin-left: 10px;
    position: relative;
    bottom: 320px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-size: 13px;
}
.prduct1hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-4.jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.prduct2hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-2\(1\).jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.prduct3hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-3.jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.prduct4hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-5.jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.prduct5hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-3.jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.prduct6hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-5.jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.prduct7hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-6.jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.prduct8hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-1\(1\).jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.prduct9hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-2\(1\).jpg);
    display: none;
    position: absolute;
    bottom: 0px;
}
.insta{
    height: 40px;
    width: 40px;
    background-color: white;
    margin-top: 10px;
    margin-left: 200px;
    position: relative;
    top: 10px;
    border-radius: 5px;
}
.insta i{
    margin-top: 12px;
    margin-left: 12px;
}
.nichelikhahua{
    position: relative;
    top: 330px;
    text-align: center;
}
.nichelikhahua h2{
    /* text-align: center; */
}
-----------
.TC1{
    height: 400px;
    width: 250px;
    position: relative;
}
.TC1 h3,h2{
    text-align: center;
    font-weight: lighter;
}
/* -------- */
/* .pro1stimg{
    height: 330px;
    width: 250px;
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    /* background-image: url(../images/product-1\(1\).jpg); */

/* .pro2stimg{
    height: 330px;
    width: 250px;
    margin: auto;
    position: relative;
    /* bottom: 10px; */
    /* background-image: url(../images/product-4.jpg); */

.hov1{
    height: 20px;
    width: 40px;
    background-color: #ff3385;
    margin-left: 10px;
    position: relative;
    bottom: 320px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-size: 13px;
}
/* .prduct1hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-4.jpg);
    display: none;
}
.prduct2hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-5.jpg);
    display: none;
}
.prduct3hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-6.jpg);
    display: none;
}
.prduct4hover{
    height: 330px;
    width: 250px;
    margin: auto;
    background-image: url(../images/product-2\(1\).jpg);
    display: none;
} */
.insta{
    height: 40px;
    width: 40px;
    background-color: white;
    margin-top: 10px;
    margin-left: 200px;
    position: relative;
    top: 10px;
    border-radius: 5px;
}
.insta i{
    margin-top: 12px;
    margin-left: 12px;
}
.nichelikhahua{
    position: relative;
    top: 330px;
    text-align: center;
}
.nichelikhahua h2{
    /* text-align: center; */
}
.nicheseanewaladiv{
    height: 50px;
    background-color: white;
    position: absolute;
    top: 280px;
    opacity: 0.5;

    /* top: 83px; */
    /* background-color: transparent; */
}
.nicheseanewaladiv button{
height: 30px;
width: 110px;
background-color: orangered;
margin-left: 75px;
margin-top: 10px;
border: orangered;
border-radius: 20px;
opacity: none;
}
.TC1:hover .prduct1hover{
display: block;
}
.TC2:hover .prduct2hover{
display: block;   
}
.TC3:hover .prduct3hover{
display: block;
}
.TC4:hover .prduct4hover{
display: block;
}
.TC5:hover .prduct5hover{
    display: block;
    }
.TC6:hover .prduct6hover{
    display: block;   
    }
.TC7:hover .prduct7hover{
    display: block;
    }
.TC8:hover .prduct8hover{
    display: block;
    }
.TC9:hover .prduct9hover{
        display: block;
        }
/* ------------CONTACT US--------------------------------------------- */
#CONTACT{
    height: 350px;
   background-color: white;
   /* background-color: red; */
}
.contactmaindiv{
    height: 350px;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(31, 30, 30);
    /* background-color: #ff3385; */
}
.CONTACT1234{
    height: 350px;
    width: 250px;
    color: rgb(31, 30, 30);
}
.CONTACT1234 h1{
    margin-bottom: 20px;
    font-size: 25px;
   font-weight: lighter;
}
.CONTACT1234 p{
    margin-bottom: 20px;
    font-size: 16px;
}
.CONTACT1234 h3{
    margin-bottom: 20px;   
}
.CONTACT1234 h4{
    margin-bottom: 20px;
}
.CONTACT1234 img{
    height: 20px;
    width: 20px;
    border: 10px solid black;
    border-radius: 30px;
    background-color: white;
    margin-right: 10px;
}

.socialhandle{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chaaricon{
    height: 40px;
    width: 40px;
    background-color: rgb(31, 28, 28);
    border-radius: 30px;
    color: white;
}

.socialhandle i{
    font-size: 18px;
    margin-left: 13px;
    margin-top: 10px;
}
/* -----------footer------------- */
#foooter{
    height: 80px;
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.FOOT2{
    color: white;
}
.FOOT3{
    list-style: none;
    list-style-type: none;
    display: flex;
    
}
.FOOT3 li{
    /* border-radius: 17px; */
}
.ATM{
    padding-right: 20px;
   
}
.ATM img{
    border-radius:  0.25rem;
}